

.train-animation-bg {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  max-width: 100%;
  max-height: 100%;
  background-image: url('/assets/3fc14619-d11e-4013-a633-5f09af4eeec3.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: hide-train-animation-bg 9s ease-out forwards;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .train {
    position: absolute;
    z-index: 2;
    width: 10%;
    left: 58.5%;
    top: 70%;
    scale: 2;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-10px 10px 15px black);
    animation: train-move 8s ease-in-out forwards;
  }
}

@keyframes train-move {
  0% {
    left: 45.4%;
    top: 36.35%;
    scale: 0;
  }
  50% { //correct
    left: 45.75%;
    top: 37.4%;
    scale: 0.05;
  }
  100% {
    left: 78%;
    top: 115%;
    scale: 5;
  }
}

@keyframes hide-train-animation-bg {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  90% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: -100%;
    opacity: 0.5;
  }
}

