.content-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;

  .blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(20px) brightness(0.8);
    z-index: -1;
  }
}
